.break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;

  & > * {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }
}

.section {
  padding-top: 50px;
  width: 80%;
  max-width: 80%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  font-size: 5rem;
}

#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-page {
  min-height: 100vh;
}