.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  width: 100vw;
}

.header-item {
  margin: 0;
  padding: 0 0.5rem;

  &:hover {
    text-decoration: none;
  }
}

.header-item-text {
  font-weight: lighter;
  color: white;
  margin: 0;
  padding: 0 0.5rem;

  &:hover {
    text-decoration: none;
    color: #CCC;
  }
}

.is-current {
  background-color: green;
  color: #333;
  margin: 0;
  padding: 0 0.5rem;
}