#projects > .project:nth-child(odd) > .project-info {
  display: flex;
  flex-direction: row-reverse;
}

#projects > .project:nth-child(even) > .project-info {
  display: flex;
  flex-direction: row;
}

#projects > .project:not(:last-child) {
  padding: 2rem 0;
  border-bottom: 1px solid black;
}