.icon {
  font-size: 5rem;
  transition: all 0.1s ease-in-out;

  &:hover {
    z-index: 1;
    transform: scale(1.1);
    // box-shadow: 0 1rem 1rem white, 0 -1rem 1rem white, 1rem 0 1rem white, -1rem 0 1rem white;
    // animation: glow 3s infinite;
  }
  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 1rem 1rem white, 0 -1rem 1rem white, 1rem 0 1rem white, -1rem 0 1rem white;
    }

    50% {
      box-shadow: 0 2rem 2rem white, 0 -2rem 2rem white, 2rem 0 2rem white, -2rem 0 2rem white;
    }
  }
}

.skills-sub-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tooltip-inner {
  background-color: rgba(0,0,0,0.9);
  color: #FFFFFF;
  padding: 1rem 2rem;
  margin: 2rem;
  font-size: 1rem;
  max-width: 500px;
}